@using Wwwtw.Web.Mvc
@model List<Wwwtw.Domain.CharityInfo>

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

  <div class="border1"><div class="border2 glass">
    <p class="question">Which of these Charitable Aims sounds more beneficial?</p>
     
    </div></div>
   <div class="spacer"></div>
    
    <div class="optionwrap">
        <div class="border1"><div class="border2 glass">
            <p class="question">@Model[0].ActivitiesSentenceCase
            </p>
     
        </div></div>
  
    </div>
    <div class="optionwrap">
        <div class="border1"><div class="border2 glass">
            <p class="question">@Model[1].ActivitiesSentenceCase

            </p>
     
        </div></div>
  
    </div>
<div class="spacer"></div>