@{
    ViewBag.Title = "Philanthropotamus Credits";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="border1"><div class="border2 glasstrans">

    <p>@Html.ActionLink("<< back to main page", "Index","Home")</p>
     <h2>Philanthropotamus Credits</h2>
    <p>Written by: Ian Richardson, Twitter: <a href="https://twitter.com/codeulike">@@codeulike</a> , Blog: <a href="http://www.codeulike.com">codeulike.com</a> </p>
    <p>Background Photo: 'flying in a blue dream' by <a href="http://www.flickr.com/photos/olivireland/4484641315/in/photostream">olivireland</a> on Flickr, CreativeCommons CC-BY-NC</p>
    <p>Hosted on <a href="http://appharbor.com">AppHarbor</a></p>
    <p>Code open-source and available on <a href="https://github.com/codeulike/philanthropotamus">GitHub</a></p>

    </div></div>
       <div class="spacer"></div>
