@{
    ViewBag.Title = "About Philanthropotamus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <div class="border1"><div class="border2 glasstrans">

    <p>@Html.ActionLink("<< back to main page", "Index","Home")</p>
     <h2>About Philanthropotamus</h2>
    <p>UK Charities must register a description of their activities with the UK Charity Commission. Philanthropotamus picks two charities at random, shows you their 
        'activity description' and asks you to choose which one sounds most beneficial.</p>

    <p>How you choose to interpret that question - beneficial to mankind? beneficial to your neighbourhood? - is up to you.
    </p>

    <p>Philanthropotamus keeps track of a 'score' for each charity based on how many times they are chosen. Over time, with enough clicks, this might produce 
        some useful data, such as: Which charities are generally rated 'most beneficial' by people and how does that correlate with their size and income?</p>

      
     
 </div></div>
   <div class="spacer"></div>
